{
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "plugins": ["react", "react-hooks", "@typescript-eslint"],
  "extends": [
    "prettier",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "plugin:import/errors"
  ],
  "parserOptions": {
    "ecmaVersion": 10,
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "linebreak-style": ["error", "unix"],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "prettier/prettier": [
      "warn",
      {
        "singleQuote": true
      }
    ]
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "plugins": ["import"],
      "rules": {
        "import/named": "off",
        "no-unused-vars": "off",
        "import/no-unresolved": "off",
        "no-undef": "off"
      }
    }
  ]
}
